*{
    margin: 0;
    padding: 0;
}
body {
    background: white;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 800px;
    margin: 40px auto;
}
.heading {
    color: black;
    margin: 0;
    padding: 20px;
    font-size: 48px;
    text-align: center;
}
.description {
    padding: 30px;
    background: rgb(51, 51, 51);
    color: white;
    text-align: center;
    margin: 0px auto;
    font-size: 28px;
}
.description a{
    text-decoration: none;
    color: yellow;
}
.moves {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
img {
    width:150px;
    height: 150px;
    margin: 0px 6px;
    border: 1px solid rgba(0, 0, 0, 0.041);
    border-radius: 10px;
    box-shadow: 0px 15px 30px rgb(0 0 0 / 15%);
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 0.5s;
}
img:hover {
    transform: scale(1.1);

}
.moveDesDiv {
    display: flex;
    justify-content: space-between;
    width: 800px;
    margin-top: 10px;
}
.moveDes {
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: rgb(99, 96, 96);
}
.spockBackground {
    background: #f9f9f9;
}

.gameStats {
    height: 200px;
    margin-top: 30px;
    font-size: 22px;
}

.scoreCount {
    margin-left: 25px;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: center;
}
.scoreCount * {
    text-align: center;
}
.roundResult {
    width: 600px;
    line-height: 28px;
    text-align: center;
    margin: auto;
    font-weight: 700;
}
.gameOver {
    font-weight: bold;
}
.stat {
    height: 30px;
    margin: 30px auto;
}

.disabled * {
    opacity: 50%;
}

.gameEndDiv {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-content: center;
    height: 50px;
    width: 800px;
}
.gameEndButton {
    background: rgb(51, 51, 51);
    color: white;
    border-radius: 10px;
    width: 150px;;
    font-size: 20px;
    padding: 10px;
}

.gameEndButton a {
    display: block;
    color: inherit;
    text-decoration: none;
}

.rules {
    width: 800px;
    margin: -40px auto 0px;;
    color:rgb(112, 110, 110);
    font-size: 22px;
    line-height: 32px;
}
.rulesStart {
    width: 800px;
    margin: 80px auto;
    color:rgb(112, 110, 110);
    font-size: 22px;
    line-height: 32px;

}
.rules a,
.rulesStart a {
    text-decoration: none;
    color: rgb(68, 2, 2);
    font-weight: bold;
}

.video {
    width: 672px;
    margin: 40px auto;
}
.return {
    font-size: 28px;
    text-align: center;
    margin: auto;
}
.return a {
    text-decoration: none;
    color: rgb(170, 170, 137);
}